$color-main: #ac2626; 

.post-card {
    background-color: #ffffff; 
    border-radius: 8px; 
    border-right: 5px solid $color-main;
    border-bottom: 5px solid $color-main;
    border-left: 1px solid $color-main;
    border-top: 1px solid $color-main;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 20px auto; 
    max-width: 450px; 
    font-family: 'Arial', sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 

    &:hover {
        transform: translateY(-5px); 
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    }

    h2 {
        font-size: 2em; 
        margin-bottom: 15px; 
        color: $color-main; 
    }

    img {
        width: 100%; 
        border-radius: 6px; 
        margin-bottom: 15px; 
    }

    p {
        font-size: 1em; 
        color: #666; 
        line-height: 1.6; 
        margin-bottom: 15px; 
    }

    .post-card_author {
        font-style: italic; 
        color: #999; 
        text-align: right; 
        margin-bottom: 20px; 
    }

    div {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold; 
        display: block;  
        margin-bottom: 5px;  
    }

    input[type="textarea"] {
        width: 100%;  
        padding: 5px;  
        border: 1px solid #ddd;  
        border-radius: 6px;  
        font-size: 1em;  
        color: #333;  
        background-color: #f9f9f9;  
        resize: both;
        min-height: 50px;  
        transition: border-color 0.3s ease, box-shadow 0.3s ease;  

        &:focus {
            border-color: #007BFF;  
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);  
            outline: none;  
        }
    }

    .post__comment {
        max-width: 100%;
        height: fit-content;
        padding: 5px 3px;
        background-color: rgb(233, 217, 217);
        border-radius: 2px;
        word-wrap: break-word;
    }

    button {
        background-color: $color-main;  
        color: white;  
        border: none;  
        padding: 10px 20px;  
        border-radius: 2px;  
        cursor: pointer;  
        font-size: 1em;  
        transition: background-color 0.3s ease;  

        &:hover {
            background-color: #6b1033;  
        }
    }
}
