<div class="post-card">
    <h2>{{ article.title }}</h2>
    <img [src]="article.image" alt="">
    @if (article.isPublished) {
        <p>{{ article.content }}</p>
    }
    <p class="post-card_author">écrit par {{ article.author }}</p>
    <div>
        <label for="comment">Commenter :</label>
        <input [(ngModel)]='article.comment' type="textarea"  contenteditable name="comment">
    </div>
    @if (article.comment && article.comment !== '') {
        <p class="post__comment">{{ article.comment }}</p>
    }
    <button (click)="togglePublication()">
        {{article.isPublished ? 'Dépublier' : 'Publier'}}
    </button>
    <p>{{article.likes}} 💙</p>
    <a [routerLink]="['article',article.id]">Voir l'article</a>
</div>