* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; // pour que la width prenne en compte le padding et le border et donc éviter les dépassements
    color: black;
}